{% extends "page.html" %}

{% block content %}
  <div class="posts">
    {% for page in paginator.pages %}
        <article>
        <div class="post">
            <h5>{{ page.title }}</h5>
            {% if page.extra.subtitle %}<h6><i>{{ page.extra.subtitle }}</i></h6>{% endif %}
            <strong>{{ page.date }}</strong>
            {% set_global authors = page.extra.authors %}
            {% set section = get_section(path="people/_index.md") %}
            {% for author in authors %}
                {% for person in section.pages %} 
                    {% if person.slug == author %}
                        &nbsp;&middot;&nbsp;
                        <a href="{{ person.extra.website }}">{{person.extra.name}}</a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <div class="post_summary">
                {% if page.extra and page.extra.preview %}
                    <img src="{{ page.permalink }}/{{ page.extra.preview }}" class="thumbnail"/>
                {% endif %} {{ page.summary | safe }}
            </div>
            <div class="read-more">
                <a href="{{ page.permalink }}">Read more...</a>
            </div>
        </div>
        </article>
    {% endfor %}
</div>

<!-- for some reason this isn't working -->

<div class="text-center">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.previous and paginator.next %}
        &middot;&middot;&middot;
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
</div>

{% endblock content %}