{% extends "base.html" %}

{% block logo %}{% endblock %}

{% block content %}
<h3 class="title">
  {{ page.title }}
</h3>
<p class="subtitle">
  <strong>{{ page.date }}</strong>
  {% set_global authors = page.extra.authors %}
  {% set section = get_section(path="people/_index.md") %}
  {% for author in authors %}
      {% for person in section.pages %} 
          {% if person.slug == author %}
              &nbsp;&middot;&nbsp;
              <a href="{{ person.extra.website }}">{{person.extra.name}}</a>
          {% endif %}
      {% endfor %}
  {% endfor %}
</p>
<div class="post">
  {{ page.content | safe }}
</div>

<div class="paginator">
  <hr/>
  <div class="text-center"><a href="{{config.base_url}}/blog">Blog Home</a></div>

  {% if page.earlier %}
      <a class="previous" href="{{ page.earlier.permalink }}">‹ {{page.earlier.title}}</a>
  {% endif %}
  {% if page.earlier and page.later %}
    <span class="mid">
      &middot;&middot;&middot;
    </span>
  {% endif %}
  {% if page.later %}
      <a class="next" href="{{ page.later.permalink }}">{{page.later.title}} ›</a>
  {% endif %}
  <hr/>
</div>

{% endblock content %}