# The URL the site will be built for
base_url = "https://uvm-maple.github.io"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = true

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code = true

[extra]
katex_enable = true
katex_auto_render = true

# staticman comments configuration
staticman_url = "https://maple-comment-bot.herokuapp.com/v2/entry/maple-comment-bot/uvm-maple.github.io/main/comments"
